.label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}
/* Table View */
.table-view {
    -fx-background-color: #252836;
    -fx-border-color: #3B3F5C;
    -fx-text-fill: white;
}

.table-column {
    -fx-background-color: #3B3F5C;
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: #1E1E2E;
    -fx-border-color: transparent;
}

.table-row-cell:selected {
    -fx-background-color: #007BFF;
    -fx-text-fill: white;
}

/* Scroll Bar */
.scroll-bar {
    -fx-background-color: #2C2F48;
}

.scroll-bar .thumb {
    -fx-background-color: #3B3F5C;
}
